%header#header-container
  / Header
  #header
    .container
      / Left Side Content
      .left-side
        / Logo
        #logo
          %a{:href => "index.html"}
            %img{:alt => "", :src => image_path("template/images/logo.png")}/
        / Mobile Navigation
        .mmenu-trigger
          %button.hamburger.hamburger--collapse{:type => "button"}
            %span.hamburger-box
              %span.hamburger-inner
        / Main Navigation
        %nav#navigation.style-1
          %ul#responsive
            %li
              %a.moveToLink.current{:href => "#rev_slider_4_1_wrapper"} Home
            %li
              %a.moveToLink{:href => "#our-services"} Our Services
            %li
              %a.moveToLink{:href => "#our-story"} Our Story
            %li
              %a.moveToLink{:href => "#how-it-works"} How It Works
        .clearfix
        / Main Navigation / End
      / Left Side Content / End
      / Right Side Content / End
      .right-side
        .header-widget
          %a.moveToLink.button.border.with-icon{:href => "#contact"}
            Contact us
            %i.im.im-icon-Business-Woman
      / Right Side Content / End
  / Header / End
.clearfix
/ Header Container / End
